body,
html {
    height: 100%;
    margin: 0;
}

/* non-resposive default version
.container {
    display: grid;
    text-align: center;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
    grid-template-columns: [sidebar] 300px [main] 900px;
    grid-template-rows: [header] 100px [nav] 100px [article] 500px [footer] 100px;
    gap: 1rem;
} */

/* Version with named lines
.container {
    display: grid;
    text-align: center;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
    grid-template-columns: [start] 300px [main] 900px [end];
    grid-template-rows: [header] 100px [nav] 100px [article] 500px [footer] 100px [end];
    gap: 1rem;
} */

.container {
    display: grid;
    text-align: center;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
    grid-template-columns: [start] 1fr [main] 3fr [end];
    grid-template-rows: [header] 1fr [nav] 1fr [article] 3fr [footer] 1fr [end];
    gap: 15px;
}

.container div {
    padding: 15px;
    font-size: 32px;
    font-family: Helvetica;
    font-weight: bold;
    color: white;
    border-radius: 15px;
}

.header {
    background-color: #006157;
    grid-column: start / end;
}

.sidebar {
    background-color: #005b94;
    grid-row: nav / footer;
}

.nav {
    background-color: #642cde;
}

.article {
    background-color: #7e1dc3;
}

.article p {
    font-size: 18px;
    font-family: sans-serif;
    color: white;
    text-align: left;
}

.footer {
    background-color: #393f4d;
    grid-column: start / end;
}
